.calc-basic-container {
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: center;
	margin: 0 auto;
}

.calc-basic-damage {
	background: var(--color-basic-calc);
	text-align: center;
	padding: 1.2em;
	width: 200px;
	box-shadow: var(--shadow-basic);
	border-top: 2px solid #b27a25;
}

.calc-basic-count {
	margin-top: 1.2em;
}

.basic-calculations {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 200px;
	margin: 2em;

}

.calc-basic-content {
	font-size: 1.6em;
	color: white;
}

.calc-basic-header {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #faac1c;
}

.calc-basic-percentage {
	font-size: 0.6em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.4em;
}

@media only screen and (max-width: 1100px) {
 .calc-basic-container {
 	flex-wrap: wrap;
 	width: 80%;
 }
 .basic-calculations {
 	margin-bottom: 0;
 }

 .calc-basic-count {
 	margin-top: 0.4em;
 }
}
