.calc-basic-container {
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: center;
	margin: 0 auto;
}

.calc-basic-damage {
	background: var(--color-basic-calc);
	text-align: center;
	padding: 1.2em;
	width: 200px;
	box-shadow: var(--shadow-basic);
	border-top: 2px solid #b27a25;
}

.calc-basic-count {
	margin-top: 1.2em;
}

.basic-calculations {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
	margin: 2em 1.2em;
}

.stat-breakdown {
	justify-content: flex-start;
}

.breakdown-container {
	display: flex;
}

.basic-stat-breakdown {
	margin-top: 0.8em;
}

.breakdown-description {
	display: flex;
	width: 60%;
	color: #b6f5ff;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.7em;
}

.breakdown-value {
	display: flex;
	align-items: center;
	font-size: 0.8em;
	margin-left: 0.8em;
	width: 40%;
	color: white;
}

.breakdown-container {
	margin: 0.15em;
}

.calc-basic-content {
	font-size: 1.6em;
	color: white;
}

.calc-basic-header {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #faac1c;
}

.calc-basic-percentage {
	font-size: 0.6em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.4em;
}

.basic-calc-item-effect-list {
	background: #373E3D;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	margin-top: 0.7em;
	font-size: 1em;
	padding: 0.8em 0.4em;
	color: #b6f5ff;
}

@media only screen and (max-width: 1100px) {
 .calc-basic-container {
 	flex-wrap: wrap;
 	width: 80%;
 }
 .basic-calculations {
 	margin-bottom: 0;
 }

 .calc-basic-count {
 	margin-top: 0.4em;
 }
}
