.calculation-area {
	width: 90%;
	margin: 0 auto;
	margin-top: 0.8em;

	--calculation-base-color: #1e1e1e;
}

.calculation-header {
	display: flex;
	width: 50%;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.allied-tab, .enemy-tab {
	width: 50%;
	font-size: 1.4em;
	text-align: center;
	padding: 0.6em;
	background: var(--calculation-base-color);
	cursor: pointer;
}

.calculation-body {
	background: var(--calculation-base-color);
	min-height: 200px;
	box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, 0.6);
}

.not-current-tab {
	background: #5c5c5c;
}

.calculation-heading {
	font-size: 1.4em;
	color: white;
	border-bottom: 3px solid white;
	min-width: max-content;
	width: 10%;
	margin-left: 1.2em;
	padding: 0.8em;
}

/* Calc sections */

.calculation-skills {
	display: flex;
	justify-content: start;
}
