.export-data-text {
	background: white;
	padding: 1em;
	margin: 0.8em;
}

.export-data-dummy {
	padding: 0;
}

.save-modal-tabs h4 {
	text-align: center;
	width: 50%;
	font-size: 1.6em;
	padding: 0.5em;
	cursor: pointer;
}

.save-modal-tabs {
	display: flex;
	margin: 0;
	width: 100%;
	color: white;
	background: #1E1E1E;
}

.modal-content-save {
	padding: 0;
}

.export-datum {
	display: block;
}

.active-export-tab {
	background: #2C2C2C;
}

.target-dummy-save {
	background: #161414;
	padding: 3em 1em;
	margin: 0;
}

.target-dummy-save-placeholder {
	width: 95px;
	display: block;
	margin: 0 auto;
}

.import-text {
	display: block;
	margin: 1em auto 0.3em;
	padding: 1em;
	width: 80%;
	height: 200px;
	resize: none;
	outline: 0;
}

.import-note {
	width: 80%;
	color: white;
	font-size: 0.6em;
	text-align: left;
	margin-left: 10%;
}

.import-button-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.import-button {
	padding: 0.6em 1.2em;
	margin: 0.6em;
	border: 0;
	border-radius: 20px;
	transition: 0.15s background, 0.15s color;
	outline: none;
}

.import-button:hover {
	background: orange;
	border: 0;
	color: white;
}
