.champion-skill-container {
	width: 40%;
	min-width: 100px;
}

.champion-skill {
	display: flex;
	margin: 0.7em 0.6em;
	justify-content: flex-start;
	padding: 0 0.1em;
	background: rgba(2,2,2, 0.55);
}

.champion-skill-icon {
	width: 38px;
	height: 38px;
	background-size: cover;
}

.skill-adjustment {
	display: flex;
	flex-direction: column;
}

.champion-skill-key {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	width: 20%;
	text-align: center;
	color: #afe3eb;
}

.champion-skill-select {
	width: 50%;
	min-width: 50px;
	margin-left: 1em;
	outline: 0;
	text-indent: 50%;
	background: transparent;
	color: white;
	border: 0;
}

.skill-lv-option {
	text-align: center;
	background: #131918;
	font-size: 1.2em;
	position: relative;
	left: 50%;
}
