.champion-card {
	--border-size: 5px;
	--bg-champion-width: calc(800px - var(--border-size));
	--bg-champion-height: calc(400px - var(--border-size));
}

.champion-card {
	position: relative;
	width: 800px;
	min-width: 300px;
	max-width: 50vw;
	height: 450px;
	margin: 0.5em 1em;
	border: 5px solid #efefef;
	overflow-x: hidden;
	box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, 0.6);
}

.champion {
	width: 100%;
	max-width: 49.5vw;
	min-width: 300px;
	height: 100%;
	background-position: center;
	background-size: cover;
	opacity: 1;
	z-index: -500;
	box-sizing: border-box;
	overflow-x: hidden;
}

.dark-glass {
	background: #2c2c2c;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.champion-stats, .champion-skills, .champion-items {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.champion-stats {
	height: 45%;
	background: rgba(0,0,0,0.6);
}

.champion-skills {
	background: rgba(0,0,0,0.4);
	height: 30%;
}

.champion-items {
	background: rgba(0,0,0,0.2);
	height: 25%;
}

.champion-data-container {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
}

/* Sections */

.champion-section-heading {
	text-transform: uppercase;
	padding: 5px;
	font-size: 0.9em;
	height: 10%;
}

.champion-section-content {
	display: flex;
	justify-content: center;
	height: 90%;
	flex-wrap: wrap;
}

.champion-stat-section{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 30%;
	justify-content: center;
	height: 90%;
}
