.champion-card {
	--border-size: 5px;
	--bg-champion-width: calc(800px - var(--border-size));
	--bg-champion-height: calc(400px - var(--border-size));
}

.champion-card {
	position: relative;
	width: 800px;
	min-width: 300px;
	max-width: 50vw;
	height: 450px;
	margin: 0.5em 1em;
	border: 5px solid #efefef;
	overflow-x: hidden;
	box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, 0.6);
	overflow-y: hidden;
	-webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.champion {
	width: 100%;
	max-width: 49.5vw;
	min-width: 300px;
	height: 100%;
	background-position: center;
	background-size: cover;
	opacity: 1;
	z-index: -500;
	box-sizing: border-box;
	overflow-x: hidden;
}

.dark-glass {
	background: #2c2c2c;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.champion-stats, .champion-skills, .champion-items {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.champion-stats {
	height: 45%;
	background: rgba(0,0,0,0.6);
}

.champion-skills {
	background: rgba(0,0,0,0.4);
	height: 30%;
}

.champion-items {
	background: rgba(0,0,0,0.2);
	height: 25%;
}

.champion-data-container {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
}

/* Sections */

.champion-section-heading {
	text-transform: uppercase;
	padding: 5px;
	font-size: 0.9em;
	height: 10%;
}

.champion-section-content {
	display: flex;
	justify-content: center;
	height: 90%;
	flex-wrap: wrap;
}

.champion-stat-section{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 30%;
	justify-content: center;
	height: 90%;
}

/* Others */

.relative {
	position: relative;
}

.previous-page, .next-page {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 50px;
	font-size: 1.7em;
	color: black;
	cursor: pointer;
	z-index: 5;
	font-weight: 1000;
	user-select: none;
	box-sizing: border-box;
}

.previous-page {
	left: 0;
	background: linear-gradient(45deg, #efefef 50%, transparent 50%);
}

.next-page {
	right: 0;
	background: linear-gradient(-45deg, #efefef 50%, transparent 50%);
}

.rune-pages {
	position: absolute;
	display: flex;
	height: 100%;
	justify-content: space-around;
	top: 0;
	width: 100%;
}

.champion-lv-control {
	width: 70%;
	border: 0;
	margin-bottom: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	min-width: max-content;
	color: white;
	font-size: 1em;
	background: #3d3d3d;
	cursor: pointer;
	transition: 0.2s background;
	outline: 0;
}

.champion-lv-control:hover {
	background: #686868;
}

.lv-controls {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	background: #26262661;
}

.champion-current-lv {
	background: #4f4c4cad;
	padding: 0.7em 2.8em;
	margin-bottom: 1em;
	color: white;
	font-size: 1.3em;
	-webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1200px) {
	.champion-card {
		max-width: 95vw;
	}

	.champion {
		max-width: 95vw;
	}
}
