.rune-calc {
	display: flex;
	padding: 0.6em;
	background: var(--color-basic-calc);
	margin: 0.5em;
	box-shadow: var(--shadow-basic);
	width: 24%;
	min-width: 260px;
	align-items: center;
}

.rune-calc-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.runes-damage-calc {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
	color: white;
}

.rune-calc-image {
	height: 60px;
}

.rune-calc-information {
	margin-left: 0.6em;
}

.rune-calc-name {
	font-size: 1.1em;
	text-transform: capitalize;
}

.rune-calc-damage, .rune-calc-percentage {
	font-size: 0.9em;
}

.phys {
	color: #f3a81d;
}

.magic {
	color: #2993ee;
}
