.rune-calc {
	display: flex;
	padding: 1em;
	background: var(--color-basic-calc);
	margin: 1em;
	box-shadow: var(--shadow-basic);
	width: 24%;
	min-width: 250px;
}

.rune-calc-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.runes-damage-calc {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
	justify-content: center;
	color: white;
}

.rune-calc-image {
	height: 50px;
}

.rune-calc-information {
	margin-left: 0.2em;
}

.rune-calc-name {
	font-size: 1.2em;
	text-transform: capitalize;
}
