.rune-calc {
	display: flex;
	padding: 0.6em;
	background: var(--color-basic-calc);
	margin: 0.5em;
	box-shadow: var(--shadow-basic);
	width: 24%;
	min-width: 260px;
	align-items: center;
}

.rune-calc-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.runes-damage-calc {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
	color: white;
}

.rune-calc-image {
	height: 60px;
}

.rune-calc-information {
	margin-left: 0.6em;
}

.rune-calc-name {
	font-size: 1.1em;
	text-transform: capitalize;
}

.rune-calc-damage, .rune-calc-percentage {
	font-size: 0.9em;
}

.phys {
	color: #f3a81d;
}

.magic {
	color: #2993ee;
}

.rune-calc-stacks {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	outline: 0;
	padding: 0.3em;
	margin: 0.3em auto;
	background: #909090;
	border-radius: 20px;
	border: 0;
	color: white;
}

.rune-calc-stack .rune-calc-name, .rune-calc-utility .rune-calc-name {
	text-align: center;
}

.rcalc-damage {
	background: #492929;
}

.rcalc-utility {
	background: #234723;
}

.rcalc-stack {
	background: #26262e;
}

.rune-calc-stacks::placeholder {
	color: #ffddc9;
}