.calc-summoners-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 1em;
	flex-wrap: wrap;
}

.summoner-spell-container {
	display: flex;
	background: var(--color-basic-calc);
	padding: 1.2em;
	color: white;
	box-shadow: var(--shadow-basic);
	align-items: center;
	width: 200px;
	margin: 0.3em;
}

.summoner-image {
	margin-right: 0.4em;
	width: 50px;
	height: 50px;
	display: flex;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.summoner-spell-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.summoner-name {
	font-size: 1.2em;
}

.summoner-damage, .summoner-percentage {
	font-size: 0.9em;
	margin-top: 0.2em;
}
