.champion-item-icon {
	position: relative;
	left: 4%;
	width: 40px;
	height: 40px;
	max-width: 100%;
	background-size: cover;
	margin: 0 auto;
	background-color: black;
	border: black 2px solid;
	cursor: pointer;
}

.champion-item {
	width: 11%;
	margin: 0 5px;
	padding: 0.5em;
	background: rgba(2,2,2, 0.55);
}

.item-stat {
	display: flex;
	font-size: 0.7em;
	justify-content: space-around;
	margin-top: 0.3em;
}

.item-stat-amount {
	width: 45%;
	text-align: right;
}

.item-stat-type {
	width: 40%;
	text-align: left;
	text-transform: uppercase;
}

.item-slot-number {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.8em;
}

/* item quality classes */

.quality-mythic {
	background: #510b0bab;
}

.quality-legendary {
	background: #ffa50059;
}

.quality-advance {
	background: #025f9585;
}

.quality-basic, .quality-shoes {
	background: #65ae2294;
}
