.items-modal {
	position: fixed;
	/* always top level */
	z-index: 100;
	background: #000000d6;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-content {
	background: #2c2c2c;
	min-width: 300px;
	width: 40%;
	padding: 0.8em;
	box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.8);
	position: relative;
}

.items-search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 1.0em;
	position: relative;
}

.item-tier-filter, .item-stat-filter {
	position: absolute;
	top: 0;
	width: 130px;
	background: #4b4b4b;
	color: #afafaf;
	cursor: pointer;
	user-select: none;
}

.item-tier-filter {
	left: -130px;
}

.item-stat-filter {
	right: -130px;
}

.active-filter {
	background: #2c2c2c;
}

.active-stat-filter {
	background: #2c2c2c;
	color: white;
}

.stat-filter {
	padding: 0.4em;
}

.tier-filter {
	font-size: 1.2em;
	padding: 0.6em;
	text-align: right;
}

.mythic-filter.active-filter {
	color: #e87171;
}

.leg-filter.active-filter {
	color: orange;
}

.adv-filter.active-filter {
	color: #8282f8;
}

.basic-filter.active-filter, .boots-filter.active-filter {
	color: #6bc96b;
}

.general-filter.active-filter {
	color: white;
}

.search-item {
	background: #f8f8f8;
	padding: 0.4em;
	width: 240px;
	margin: 0.1em;
	cursor: pointer;
	height: 60px;
	min-width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s all;
	box-sizing: border-box;
	letter-spacing: 0.02em;
	box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.2);
}

.search-item:hover {
	background: #47b24c;
	color: white;
}

.items-search-results::-webkit-scrollbar {
	width: 1px;
	background: white;
}

.items-search-field {
	outline: 0;
	min-width: 200px;
	display: block;
	margin: 0 auto;
	padding: 0.4em;
	text-align: center;
}

.items-selector-title {
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 0.4em;
	color: white;
}

.close-modal-btn {
	width: 200px;
	height: 30px;
	margin-top: 0.4em;
	outline: 0;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.15s background;
	border: 0;
	margin: 0.4em auto;
}

.close-modal-btn:hover {
	background: #914a4a;
}

.modal-footer {
	background: #2c2c2c;
	width: 40%;
	min-width: 300px;
	margin-top: 0.2em;
}

@media only screen and (max-width: 1100px) {
	.modal-content {
		width: 60%;
	}

	.tier-filter {
		text-align: left;
	}

	.item-tier-filter, .item-stat-filter {
		width: 100px;
	}

	.item-tier-filter {
		left: -100px;
		font-size: 0.9em;
	}

	.tier-filter.leg-filter {
		font-size: 1.05em;
	}

	.item-stat-filter {
		right: -100px;
	}
}
