:root {
  --color-basic-calc: #a2a2a240;
  --shadow-basic: 6px 6px 4px -4px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #48514E;
}

::-webkit-scrollbar-thumb {
  background: #111A18;
}

body {
  overflow-x: hidden;
}

.champion-select {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.app-background {
  position: fixed;
  background-image: url('./assets/bg.png');
  background-size: cover;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.damage-calc-header {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2.6em;
  color: #B58D4D;
  -webkit-text-stroke: 0.2px #FFEABE;
  letter-spacing: -0.4px;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.export-data, .saved-data {
  --export-width: 170px;
  position: fixed;
  background: #161D1D;
  width: var(--export-width);
  height: var(--export-width);
  bottom: calc(-1 * var(--export-width)/3);
  right: calc(-1 * var(--export-width)/3);
  display: flex;
  line-height: 125px;
  text-indent: 42px;
  font-size: 1.9em;
  border-radius: 50px;
  border: 2px solid white;
  color: orange;
  cursor: pointer;
  transition: all 0.10s;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 50;
}

.export-data:hover, .saved-data:hover {
  background: #2C3C3A;
}

.saved-data {
  left: calc(-1 * var(--export-width)/3);
  text-indent: 84px;
  border: 2px solid white;
  z-index: 10000;
}

.sidebar {
  position: fixed;
  width: 400px;
  height: 100vh;
  background: #0C1415;
  z-index: 1000;
  top: 0;
  left: -600px;
  border-right: 5px solid #687268;
  transition: 0.4s all;
}

.show-sidebar {
  left: 0px;
}

.sidebar-header {
  text-align: center;
  padding-top: 1em;
  color: #B58D4D;
  -webkit-text-stroke: 0.2px #FFEABE;
}

.saved-champ-container {
  z-index: -10;
}